* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to left, lightsalmon, lightgray);
    z-index: -1;
}

nav {
    display: grid;
    grid-template-columns:10% 1fr 1fr 10%;
    min-height: 10vh;
    color: white;
    align-items: center;
}

.hamburger {
    width: 10%;
    justify-self: end;
}

#logo {
    grid-column: 2/3;
    font-size: 20px;
}

section {
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
}

.hero {
    height: 60%;
    width: 100%;
    position: relative;
}

.hero img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.headline {
    position: absolute;
    top: 70%;
    left: 10%;
    font-size: 90px;
    transform: translate(-20%, -70%);
    color: white;
    z-index: 3;

}

.hero::after {
    content: "";
    background: black;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.3;
}

